/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font: 14px/25px 'Playfair Display', serif; background:#fff; color:#626262; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea,button {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; padding: 0 }
select, input, textarea,button { font: 14px 'Playfair Display', serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font: 14px 'Playfair Display', serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.wrapper {
    padding: 0 5%;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.container {
    width: 1100px;
    margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    overflow: hidden;
    min-height: 155px;
    display: flex;
    align-items: center;
}

.navigation li{
    display: inline-block;
    margin-left: 115px;
}

.navigation li:first-child{
    margin-left: 0;
}

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a:hover {
    text-decoration: underline;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NEWS POST--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.main-news {
    margin-bottom: 100px;
}

.main-news img {
    width: 100%;
    margin-bottom: 95px;
}

.main-news p {
    margin-bottom: 45px;
}

.category,
.comment {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif !important;
    text-transform: uppercase;
    color: #b4ad9e !important;
    text-decoration: none !important;
    margin-bottom: 25px;
}

.category:hover,
.comment:hover {
    text-decoration: underline !important;
}

.other-news {
    overflow: hidden;
}

.other-news li {
    float: left;
    width: 425px;
    margin-right: 140px;
    margin-bottom: 130px;
}

.other-news li:nth-child(2n) {
    margin-right: 0;
}

.other-news img {
    margin-bottom: 30px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SUBSCRIBE--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.newsletter-subscribe {
    background-color: #f0f0f0;
    padding: 70px 0;
    text-align: center;
}

.newsletter-subscribe .sign-up {
    text-align: center;
    width: 405px;
    margin: 0 auto;
    border-bottom: 1px solid #000 ;
}

.newsletter-subscribe input {
    border: 0;
    width: 350px;
    background-color: transparent;
}

.newsletter-subscribe button {
    border: 0;
    background: transparent url(../images/button.png) no-repeat center;
    height: 40px;
    width: 50px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------LOAD MORE---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.load-more {
    padding: 100px 0;
}

.load {
    width: 100%;
    text-align: center;
}

.load button{
    border: 1px solid #626262;
    width: 165px;
    font-size: 20px;
    color: #626262;
    background: #fff;
    height: 60px;
}

.load button:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #626262;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    display: flex;
    align-items: center;
    min-height: 100px;
    background-color: #f0f0f0;
}

.footer li {
    margin-left: 15px;
    float: left;
}

.social ul {
    float: right;
}

.social a:hover {
    color: #626262;
}

.social ul:before {
    content: "Follow";
    display: block;
    float: left;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
